body
{
	font-family: Arial, Helvetica, sans-serif;
}



h1,h3
{
	font-size: bold;
	text-align: center;
}

.descripcion	
{
	text-align: justify;
}

.listaDescripcion li
{
	float: left;
	margin-left: 30px;
	font-size: large;
	font-style: oblique;

}

.listaDescripcion li:hover
{	
	transition-duration: 0.5s;
	background-color: #F3F781;
}

.logo
{
	height: 200px;
	width: 200px;
	margin-top: 0;

}

.loguito
{
	height: 50px;
	width: 50px;
	float: left;
}

header
{
	padding-bottom: 20px;
}



nav
{
	background-color: black;
	color: white;	
}

.fondoNav
{

}

nav p
{
	float: right;
	font-size: larger;
}

nav ul
{
	height: 100%;
	padding-left: 0;
}

nav li
{
	float: left;
	text-decoration: none;
	list-style: none;
	font-size: larger;
	width: 25%;
	text-align: center;
	height: 100%;	
	padding-top: 2%;
}

nav li:hover
{	
	transition-duration: 1s;
	background-color: red;
}


.tituloNav
{
	padding-top: 10px;
	font-style: oblique;
	font-size: larger;
}

.divCentral
{
	margin-top: 20px;
	height: 350px;
	margin-bottom: 20px;
}

.contenidoPrincipal
{
	padding-right: 200px;
	padding-left: 30px;
}

.asideRow
{
	height: 20%;
}

.iconoParrafo
{
	width: 40px;
	height: 40px;
	margin-bottom: 20px;
}

aside
{
	border-left: 1px solid #cccc;
}

.enlacesAside
{
	height: 20%;
}


footer
{
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;

}

.mglft
{
	margin-left: 50px;
}

#muestraConstruccion
{
	display: none;
}

@media screen and (max-width: 768px)
{
#cabeceraTitulo,#barraNavegacion,#divPrincipal,#pieDePagina	
{
	display: none;
}
#muestraConstruccion
{
	display: block;
}
}